# Get your token: https://courses.uit.edu.vn/login/token.php?username=YOUR_ID&password=YOUR_PASS&service=moodle_mobile_app
UIT_TOKEN="your_token_here"
UIT_BASE_URL="https://courses.uit.edu.vn"
UIT_USER_ID=12345
